<!-- About me page content -->
    <% if (title == "About Me") { %>
      <div class="row d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem;">
          <img src="Assets/images/profile_photo.jpg" class="card-img-top" alt="Keyur Sheladeeya">
          <div class="card-body">
            <h5 class="card-title">Hello!! My name is Keyur Sheladeeya</h5>
            <p class="card-text">I am a student at centennial college and I am in the course of Software 
              Engineering Technology - Artificial Intelligence. 
              Currently, Doing online strudy from my Home country and I am from India. I have completed
              my bachelor's in Computer Engineering from Government Engineering College, Modasa.</p>
            <a href="/services" class="btn btn-primary">Check Out Our Services</a>
          </div>
        </div>
      </div>
    <% } %>