<!--

* File name: projects.ejs
* Student name: Keyur Sheladeeya
* tudent Id: 301167493
* Date: 12-02-2021 (DD-MM-YYYY)

-->

<!-- Projects page content -->
     
      <% if (title == "Projects"){ %>
        <div class="row text-center">

          <div class="col-md-4 project-div">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="Assets/images/shopping_application.jpg" alt="RestOff App">
              <div class="card-body">
                <h5 class="card-title">RESTOFF</h5>
                <p class="card-text">RESTOFF is an Android application which is a basically reward and 
                review base system for user where people get rewards in every product from their nearby
                 shops such as gym, book-store, cloth shop etc. RESTOFF was our final year group project
                  in engineering made with android and firebase.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4  project-div">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="Assets/images/krushi_app.png" alt="Krushi App">
              <div class="card-body">
                <h5 class="card-title">Krushi Web</h5>
                <p class="card-text">It is a demo website that we built in hackathon which was held
                 in Rajashthan by Rajashthan Government with the help of html, CSS, JavaScript,
                  bootstrap.The main reason behind this app was that Farmers can sell their crops 
                  directly to the local people through this web application.</p>
              </div>
            </div>
          </div>

          <div class="col-md-4  project-div">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="Assets/images/ks logo.jpg" alt="Portfolio App">
              <div class="card-body">
                <h5 class="card-title">My Portfolio Website</h5>
                <p class="card-text">The view that you're seeing right now comes from My porfolio 
                website :). I am building this website by using html, CSS, Node.js, Express.js, 
                bootstrap, MongoDB etc. This is my first portfolio website and learning so much 
                new things.</p>
              </div>
            </div>
          </div>

        </div>
      <% } %>