<!--

* File name: services.ejs
* Student name: Keyur Sheladeeya
* Student Id: 301167493
* Date: 12-02-2021 (DD-MM-YYYY)

-->

<!--Services page content-->
    <% if (title == "Services") { %>
      <div class="row text-center">
        <div class="col-md-6">
          <h3> Web Design and Development</h3>
            <img src="Assets/images/web_development.jpg" 
            alt="Web Development" width="100%" height="100%">
        </div>
        <div class="col-md-6">
          
          <h3> Mobile Application Development</h3>
            <img src="Assets/images/mobile_development.jpeg" 
          alt="Mobile Development" width="100%" height="100%">
        </div>
    
        </div>
    <% } %>